<%- extend('../../dashmap.ejs') %>

<div id="info" style="display: block;">
    <div id="title"><%= zone.intitule %> </div>
    <div id="rayon"><%= zone.rayon %> </div>
    <div id="latitude"><%= zone.latitudeCentre %> </div>
    <div id="longitude"><%= zone.longitudeCentre %> </div>
    <div id="statut"><%= zone.statut %> </div>
</div>